/* Escape Game */
/* Styles */

/* Schriftart */
body {
  font-family: Bahnschrift;
  color: white;
  text-align: justify;
  line-height: 1.8;
  word-spacing: 2.5px;
  font-size: medium;
}

/* Boxen */
.dropdown-menu {
    background-color: black;
    border-radius:0px;
}

/* selectInput */
.selectize-input {
  border-radius:0px;
}

.selectize-input.dropdown-active {
  border-radius:0px;
}

.selectize-dropdown {
  border-radius:0px;
}

/* Lösungskontrolle */
.swal2-popup {
    border: none;
    border-radius: none;
    background-color: black;
    color: white;
}

.btn-custom {
  background-color: black;
  color: white;
  
}